/**
  基本設定
**/
body {
  font-family: "Unna", serif;
  font-size: 15px;
  color: #333;
  letter-spacing: 5px;
  margin: 10px;
}
a {
  text-decoration: none;
  color: #333;
}

ul li {
  list-style: none;
}

.wrapper {
  max-width: 1080px;
  margin: 0 auto;
  margin-top: 20px;
}

.title {
  text-align: center;
  padding: 100px 0;
  font-family: "Unna", serif;
  letter-spacing: 5px;
}

.gray {
  background-color: #f6f4f4;
  max-width: 100%;
  overflow: hidden;
}

h1 {
  font-family: "Asap", sans-serif;
  font-size: 16px;
}

h1 p {
  padding-top: 5px;
  font-size: 20px;
}

h1 span {
  padding-left: 10px;
}

h1:hover {
  transition: all 0.3s;
  opacity: 0.5;
}

.nav-box {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  height: 80px;
  padding: 20px;
  margin: 0 auto;
}

/*============
nav
=============*/
nav {
  display: block;
  position: fixed;
  top: 0;
  left: -300px;
  bottom: 0;
  width: 300px;
  background: #ffffff;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition: all 0.5s;
  z-index: 3;
  opacity: 0;
}
.open nav {
  left: 0;
  opacity: 1;
}
nav .inner {
  padding: 25px;
}
nav .inner ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav .inner ul li {
  position: relative;
  margin: 0;
  border-bottom: 1px solid #333;
}
nav .inner ul li a {
  display: block;
  color: #333;
  font-size: 14px;
  padding: 1em;
  text-decoration: none;
  transition-duration: 0.2s;
}
nav .inner ul li a:hover {
  background: #e4e4e4;
}
@media screen and (max-width: 767px) {
  nav {
    left: -220px;
    width: 220px;
  }
}
/*============
.toggle_btn
=============*/
.toggle_btn {
  display: none;
  position: absolute;
  top: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
  transition: all 0.5s;
  cursor: pointer;
  z-index: 3;
}
.toggle_btn span {
  display: block;
  position: absolute;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: #333;
  border-radius: 4px;
  transition: all 0.5s;
}
.toggle_btn span:nth-child(1) {
  top: 4px;
}
.toggle_btn span:nth-child(2) {
  top: 14px;
}
.toggle_btn span:nth-child(3) {
  bottom: 4px;
}
.open .toggle_btn span {
  background-color: #fff;
}
.open .toggle_btn span:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(-315deg);
  transform: translateY(10px) rotate(-315deg);
}
.open .toggle_btn span:nth-child(2) {
  opacity: 0;
}
.open .toggle_btn span:nth-child(3) {
  -webkit-transform: translateY(-10px) rotate(315deg);
  transform: translateY(-10px) rotate(315deg);
}
/*============
#mask
=============*/
#mask {
  display: none;
  transition: all 0.5s;
}
.open #mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.8;
  z-index: 2;
  cursor: pointer;
}

.nav-box ul {
  display: flex;
  align-items: center;
  font-weight: bold;
  list-style-type: none;
}

.nav-box ul a li {
  /* margin: 0 20px 0 20px; */
  /* background-color: violet; */
  margin: 0 20px;
}

ul a li:hover {
  transition: all 0.5s;
  border-bottom: 1px solid #000;
  opacity: 0.5;
  padding-bottom: 10px;
}

.inner ul {
  display: block;
}

.main-title {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 100%;
}

.main-title_left {
  margin-top: 180px;
}

h2 {
  font-size: 70px;
  letter-spacing: 1.1rem;
  font-family: "Unna", serif;
  margin-bottom: 35px;
}

.main-title_left p {
  font-size: 17px;
  line-height: 30px;
}

.main-title_right {
  width: 70%;
}

.main-title_right img {
  height: auto;
  width: 100%;
}

.about-title {
  display: flex;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 150px;
}

.about-title_left {
  width: 100%;
}
.about-title_left img {
  max-width: 500px;
  margin-top: 35px;
}

.about-title_right {
  background-color: #f6f4f4;
  width: 100%;
  height: auto;
}

.about-wrapper {
  margin: 60px;
}

.about-title_right h3 {
  font-size: 36px;
  font-family: "Unna", serif;
}

.about-title_right p {
  line-height: 30px;
  margin-top: 50px;
}

.about-title_right p:first-of-type {
  margin-top: 20px;
}

.about-text {
  letter-spacing: 2px;
}

.view {
  text-align: right;
  letter-spacing: 2px;
}

.view span {
  padding-left: 5px;
}

.view p {
  margin-right: 60px;
  transition: all 0.5s;
}

.view p:hover {
  opacity: 0.5;
  transform: translate(15px, 0);
}

.view img {
  width: 150px;
}

.works-wrapper {
  background-color: #f6f4f4;
  width: 100%;
  margin-top: 150px;
  overflow: hidden;
}

.title h3 {
  font-size: 36px;
  padding-bottom: 20px;
}

.works-item {
  display: flex;
  flex-wrap: wrap;
  max-width: 1080px;
  margin: 0 auto;
}

.works {
  position: relative;
  margin: 0 10px 30px 10px;
}

.works-subtitle {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  color: transparent;
  text-align: center;
  transition: all 0.2s;
  font-size: 15px;
  font-family: Unna, serif;
  padding-top: 115px;
  line-height: 25px;
  box-sizing: border-box;
}

.works-subtitle:hover {
  background-color: #fff;
  opacity: 0.9;
  color: #333;
}

.web-works-subtitle {
  padding-top: 160px;
}

.web-works {
  margin: 0 auto;
  max-width: 100%;
  margin-top: 30px;
}

.works a {
  overflow: hidden;
}

.more {
  background-color: #fff;
  max-width: 250px;
  height: 50px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  /* border: solid 1px #333; */
}

.more p {
  line-height: 50px;
  position: relative;
  display: inline-block;
  text-decoration: none;
  margin-left: 70px;
  margin-right: 70px;
}

.more p::after {
  position: absolute;
  bottom: 10px;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: #333;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform 0.3s;
}

.more a:hover p::after {
  transform: scale(1, 1);
}

.more a:hover {
  opacity: 0.5;
}

.more span {
  padding-left: 5px;
}

.contact-wrapper {
  margin-bottom: 100px;
}

.contact-wrapper ul li {
  line-height: 25px;
  text-align: center;
}

footer {
  max-width: 100%;
  height: 100px;
  background-color: #f6f4f4;
}

footer p {
  text-align: center;
  line-height: 100px;
}

/*
about page
*/

.skill-title,
.career {
  display: flex;
  margin: 150px auto 0 auto;
  padding: 0 20px;
}

.skill-title:nth-of-type(3) {
  margin: 0 auto;
}

.skill-title h3,
.career h3 {
  font-size: 30px;
  border-left: 10px solid #d3dbfd;
  padding-left: 20px;
  padding-right: 20px;
}

.skill-title p,
.career p {
  line-height: 30px;
}

.skills-content {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 150px;
}

.skills-item {
  width: 30%;
  text-align: center;
  margin-right: 30px;
  margin-top: 100px;
}

.skills-item:nth-of-type(4) {
  margin-top: 50px;
  width: 45%;
}
.skills-item:nth-of-type(5) {
  margin-top: 50px;
  width: 45%;
}

.skills-item img {
  margin-bottom: 50px;
}

.career-flexwrapper {
  max-width: 1040px;
  margin: 100px auto 150px auto;
}

.career-flex {
  display: flex;
}

.career-flexInner-left {
  font-size: 18px;
  width: 15%;
  padding-top: 50px;
}

.career-flexInner-right {
  width: 85%;
  border-left: 2px solid #ddd;
  padding-left: 8%;
  padding-top: 50px;
  font-size: 15px;
  line-height: 20px;
}

.career-bold {
  font-size: 16px;
  font-weight: 500;
  color: #333;
}

.career-flexInner-right p {
  margin-top: 10px;
}

.vision-flex {
  display: flex;
  max-width: 1080px;
  justify-content: space-around;
  margin: 0 auto;
  margin-bottom: 100px;
}

.vision-left {
  width: 40%;
}

.vision-left img {
  width: 100%;
}

.vision-right {
  width: 60%;
  padding: 0 40px 30px;
}

.vision-right p {
  margin-top: 30px;
}

.vision-text {
  margin-top: 30px;
}

.works-menu {
  position: fixed;
  top: 20%;
  left: 8%;
}

.works-menu_item {
  text-decoration: none;
  list-style: none;
  display: block;
  width: 130px;
  padding: 5px 0;
  font-family: "Unna", serif;
  font-size: 16px;
  letter-spacing: 0.2rem;
  line-height: 34px;
}

.works-menu_item a li:hover {
  transition: all 0.5s;
  opacity: 0.5;
  border: none;
  padding-bottom: 0;
}

.works_item:nth-of-type(6) {
  margin-top: 100px;
}
.works_item:nth-of-type(8) {
  margin-top: 100px;
}

.works-box {
  margin-top: 100px;
  margin-left: 17%;
}

.works-box-inner {
  position: relative;
  width: 85%;
}

.web {
  max-width: 1080px;
}

.web img {
  width: 100%;
}

.works-box-inner_hov {
  position: absolute;
  top: 3.5%;
  left: 3%;
  width: 39%;
  height: 90%;
  color: transparent;
  text-align: center;
  transition: all 0.2s;
  padding-top: 112px;
  line-height: 20px;
  font-family: Unna, serif;
  box-sizing: border-box;
}

.web_hov {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  color: transparent;
  text-align: center;
  transition: all 0.2s;
  padding-top: 125px;
  line-height: 25px;
  font-size: 15px;
  box-sizing: border-box;
  font-family: Unna, serif;
}

.works-box-inner_hov:hover {
  background-color: #fff;
  opacity: 0.9;
  color: #333;
}

.web_hov:hover {
  background-color: #fff;
  opacity: 0.9;
  color: #333;
}

.works-box-flex {
  display: flex;
  flex-wrap: wrap;
  max-width: 672px;
}

.works-box-flex_inner {
  width: 24%;
  margin-top: 5px;
  margin-left: 5px;
  position: relative;
}

.works-box-flex_inner img {
  width: 100%;
}

.works-box-flex-inner_hov {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  color: transparent;
  text-align: center;
  transition: all 0.2s;
  padding-top: 46px;
  line-height: 15px;
  font-size: 10px;
  box-sizing: border-box;
}

.works-box-flex-inner_hov:hover {
  background-color: #fff;
  opacity: 0.9;
  color: #000;
}

.comment {
  margin: 150px auto;
  padding: 30px 0;
  width: 300px;
  text-align: center;
  border-top: 1px dotted #333;
  border-bottom: 1px dotted #333;
}

.works_item-wrapper {
  text-align: center;
  margin-top: 100px;
  width: 100%;
}

.works-web-sp {
  width: 50%;
  margin: 30px auto 30px 15%;
}

.works-web img {
  width: 90%;
}

.works_item-text dl {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20%;
  margin-top: 100px;
}

.works_item-text dt {
  width: 25%;
  margin-bottom: 100px;
  color: #afafaf;
}
.works_item-text dd {
  width: 75%;
  line-height: 25px;
  margin-bottom: 30px;
}

@media only screen and (max-width: 600px) {
  .wrapper {
    max-width: 600px;
  }
  .nav_pc li {
    display: none;
  }
  .toggle_btn {
    display: block;
  }

  .main-title {
    position: relative;
  }

  .main-title_left {
    margin-top: 150px;
    margin-left: 30px;
    z-index: 1;
  }

  .main-title_left h2 {
    font-size: 38px;
    margin-top: 0;
  }
  /* .main-title_left p {
     font-size: 14px;
    }  */

  .main-title_right {
    width: 65%;
    position: absolute;
    left: 170px;
  }

  .main-title_right img {
    height: auto;
  }

  .about-title {
    display: block;
    margin-top: 50px;
  }

  .about-title_left {
    position: absolute;
    left: 90px;
    top: 470px;
    width: 20%;
  }

  .about-title_left img {
    width: 200px;
    height: auto;
  }

  .about-title_right {
    width: 90%;
    height: auto;
    margin: 0 auto;
  }

  .about-title_right h3 {
    font-size: 32px;
    text-align: right;
    padding-top: 50px;
  }
  .about-title_right p {
    font-size: 12px;
  }
  .about-title_right p:first-of-type {
    margin-top: 5px;
    text-align: right;
  }

  .about-title_right-sp p:first-of-type {
    margin-top: 5px;
    text-align: inherit;
  }

  .view img {
    margin-bottom: 50px;
  }

  .works-wrapper {
    margin-top: 50px;
  }

  .title {
    padding: 0px;
  }

  .title h3 {
    font-size: 32px;
    margin-top: 50px;
  }

  .title p {
    font-size: 12px;
    margin-bottom: 50px;
  }

  .works {
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .web-works {
    text-align: center;
  }

  .web-works img {
    width: 95%;
  }

  .web-works:last-of-type {
    margin-top: 0;
  }

  .more {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .more p {
    font-size: 12px;
  }

  .about-title_left-sp {
    display: block;
    position: static;
    width: 100%;
    text-align: center;
  }

  .about-title_left-sp img {
    width: 50%;
  }

  .skill-title-sp {
    margin-top: 50px;
    margin-left: 10px;
  }

  .skills-content-sp {
    margin-bottom: 0;
  }

  .skills-item-sp {
    width: 30%;
    text-align: center;
    margin: 50px auto 0 auto;
  }

  .skills-item-sp img {
    margin-bottom: 30px;
  }

  .skills-item-sp p {
    font-size: 12px;
  }

  .career-sp {
    margin-top: 50px;
    margin-left: 10px;
  }

  .career-flexwrapper-sp {
    width: 90%;
    margin: 50px auto;
  }

  .career-flexInner-left-sp {
    font-size: 18px;
  }

  .career-bold-sp {
    font-size: 15px;
  }

  .career-flexInner-right-sp p {
    font-size: 12px;
  }

  .vision-flex-sp {
    display: block;
    margin-bottom: 50px;
  }

  .vision-left-sp {
    margin: 0 auto;
  }

  .vision-right-sp {
    margin: 0 auto;
  }

  .vision-text-sp {
    font-size: 12px;
  }

  .title-sp {
    /* background-color: aquamarine; */
    margin: 0 3%;
  }
  .works-menu-sp {
    top: 17%;
    left: 3%;
  }

  .works-box-inner img {
    width: 97%;
  }

  .works_item-text dl {
    margin: 100px auto 0 auto;
    padding: 0 20px;
    font-size: 12px;
  }
}
